<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="css/header-footer.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/home.css">
    <title>Home</title>
  </head>

  <body id="body">
    <header class="header__container">
      <div class="hamburguer__container">
        <h1>Mijelpalcabello</h1>
        <button id="hamburguer__button" class="hamburguer__button">
          ≡
        </button>
      </div>
       
      <nav id="nav">
        <a href="/">Home</a>
        <a href="/portfolio">Portfolio</a>
      </nav>
       
      <a id="button-border-black" class="button-border-black" href="/contact">Contact me</a> 
    </header>
    
    <main>
      <!-- Información -->
      <section class="information__container">
        <section class="information-hire__container">
          <h1 class="titillium__font">Hi I'm Miguel <br> Castillo</h1> 
          <p> I’m a web developer, and I cant help you to create a <br> 
incredible things</p> 
          <a href="/contact" class="button-black">Curriculum Vitae</a>
          <div class="media__container">
            <a>
              <img src="img/signo-de-twitter.png" alt="Logo Twitter" width="35px" height="35px">
            </a>            
            <a>
              <img src="img/signo-de-github.png" alt="Logo Github" width="35px" height="35px">
            </a>
            <a>
              <img src="img/linkedin-logo.png" alt="Logo Linkeding" width="35px" height="35px">
            </a>
          </div>
        </section> 
        <section class="perfil-image__container">
          <img src="img/perfil.jpg" alt="Perfil Image" >
        </section>
      </section> 

      <!-- Portafólio -->
      <section class="portfolio-section">
        <h1 class="title">Portfolio</h1> 
        <div class="portfolio__container">
          <div class="portfolios">

            <div class="portfolio">
              <h3>Weather App</h3>
              <div class="app-image__container">
                <img src="img/app.jpg" alt="App Image"> 
              </div>
              <p>Descriptión of the app, It isn't to be to much extends.</p>
              <a class="button-black">More</a>
            </div> 
            <div class="portfolio">
              <h3>Weather App</h3>
              <div class="app-image__container">
                <img src="img/app.jpg" alt="App Image"> 
              </div>
              <p>Descriptión of the app, It isn't to be to much extends.</p>
              <a class="button-black">More</a>
            </div>
            <div class="portfolio">
              <h3>Weather App</h3>
              <div class="app-image__container">
                <img src="img/app.jpg" alt="App Image"> 
              </div>              
              <p>Descriptión of the app, It isn't to be to much extends.</p>
              <a class="button-black">More</a>
            </div>

          </div> 
          <a href="/portfolio" class="button-border-white">All Projects</a>
        </div> 
      </section>

      <!-- Biography section-->
      <section class="bio-info__container"> 
        <!-- Bio -->
        <section class="bio__container">
          <h1 class="title">Biography</h1> 
          <div class="gear__container">
            <h2>1999</h2> 
            <p>Nací en lima, Perú</p>
          </div>
          <div class="gear__container">
            <h2>1999</h2> 
            <p>Nací en lima, Perú</p>
          </div>
          <div class="gear__container">
            <h2>1999</h2> 
            <p>Nací en lima, Perú</p>
          </div>
        </section>
        <!-- Studies -->
        <section class="studies__container">
          <h1 class="title">Studies</h1> 
          <div class="studie">
            <h2>Colegio Saco Oliveros</h2>
            <p>De 1ro a 5to de secundaria</p>
          </div> 
          <div class="studie">
            <h2>Colegio Saco Oliveros</h2>
            <p>De 1ro a 5to de secundaria</p>
          </div> 
        </section>
        
        <!-- Experience --> 
        <section class="exp__container">
          <h1 class="title">Experience</h1> 
          <div class="studie">
            <h2>Colegio Saco Oliveros</h2>
            <p>De 1ro a 5to de secundaria</p>
          </div>
          <div class="studie">
            <h2>Colegio Saco Oliveros</h2>
            <p>De 1ro a 5to de secundaria</p>
          </div>
        </section>
      </section>
      
      <section class="technologies__container">
        <h1 class="title">Technologies</h1>
        <section class="technologies">
          <div class="technologie">
            <img width="80px" src="img/js-file.png" alt="Javscript logo"> 
            <h2>Javascript</h2> 
          </div> 
          <div class="technologie">
            <img width="80px" src="img/css-3.png" alt="CSS logo"> 
            <h2>CSS</h2> 
          </div> 
          <div class="technologie">
            <img width="80px" src="img/html-5.png" alt="HTML logo"> 
            <h2>HTML</h2> 
          </div>  
          <div class="technologie">
            <img width="80px" src="img/git.png" alt="Git logo"> 
            <h2>Git</h2> 
          </div>
          <div class="technologie">
            <img width="80px" src="img/nodejs.png" alt="Node JS logo"> 
            <h2>Node.js</h2> 
          </div>
          <div class="technologie">
            <img width="80px" src="img/physics.png" alt="React logo"> 
            <h2>React</h2> 
          </div> 
        </section>  
      </section> 
       
    </main> 


    <footer class="titillium__font">
      <h1>Thanks for the visit</h1>
    </footer>
    <script src="js/ui.js"></script>
  </body>
</html>
