<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="css/header-footer.css">
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/portfolio.css">
  <title>Portfolio</title>
</head>
 <body id="body">
    <header class="header__container">
      <div class="hamburguer__container">
        <h1>Mijelpalcabello</h1>
        <button id="hamburguer__button" class="hamburguer__button">
          ≡
        </button>
      </div>
       
      <nav id="nav">
        <a href="/">Home</a>
        <a href="/portfolio">Portfolio</a>
      </nav>
       
      <a id="button-border-black" class="button-border-black" href="/contact">Contact me</a> 
    </header>
    
    <main class="portfolio__page">
      <h1 class="title">Portfolio</h1>
       
      <section class="portfolio-page__container"> 

        
        <div class="portfolio-page">
          <div class="portfolio-page__image-container">
            <img width="100px" src="img/app.jpg" alt="Image aplication">
          </div>
          <div class="portfolio__page-information">
            <h1>Weather</h1> 
            <p>An app for see the weather, and a little description</p>
            <div class="portfolio-buttons__container">
              <a class="button-border-black">Visit</a>
              <a class="button-border-white">Github</a>
            </div>  
          </div> 
        </div>
        <div class="portfolio-page">
          <div class="portfolio-page__image-container">
            <img width="100px" src="img/app.jpg" alt="Image aplication">
          </div>
          <div class="portfolio__page-information">
            <h1>Weather</h1> 
            <p>An app for see the weather, and a little description</p>
            <div class="portfolio-buttons__container">
              <a class="button-border-black">Visit</a>
              <a class="button-border-white">Github</a>
            </div>  
          </div> 
        </div> 
        <div class="portfolio-page">
          <div width="50%" class="portfolio-page__image-container">
            <img width="100px" src="img/app.jpg" alt="Image aplication">
          </div>
          <div width="50%" class="portfolio__page-information">
            <h1>Weather</h1> 
            <p>An app for see the weather, and a little description</p>
            <div class="portfolio-buttons__container">
              <a class="button-border-black">Visit</a>
              <a class="button-border-white">Github</a>
            </div>  
          </div> 
        </div> 
        
      </section> 
    </main> 
    
    
    
    <footer>
      <h1>Thanks for the visit</h1>
    </footer>
    <script src="js/ui.js"></script>
  </body>
</html>
