<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="css/header-footer.css">
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/error.css">
  <title>Thanks</title>
</head>
 <body id="body">
    <header class="header__container">
      <div class="hamburguer__container">
        <h1>Mijelpalcabello</h1>
        <button id="hamburguer__button" class="hamburguer__button">
          ≡
        </button>
      </div>
       
      <nav id="nav">
        <a href="/">Home</a>
        <a href="/portfolio">Portfolio</a>
      </nav>
       
      <a id="button-border-black" class="button-border-black" href="/contact">Contact me</a> 
    </header>
    
    <main class="error_page">
      <h1>Thanks for send me a message</h1> 
      <img width="200px" src="img/listo.png" alt="Success image"/>
    </main> 
    
    
    
    <footer>
      <h1>Thanks for the visit</h1>
    </footer>
    <script src="js/ui.js"></script>
  </body>
</html>
